@inherits LayoutComponentBase

<PageTitle>BlazorApp2</PageTitle>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@


<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <div class="sidebar">
                <NavMenu />
            </div>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <div class="top-row px-4 auth">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </LayoutHeader>
        <LayoutContent Padding="Padding.Is4.OnX">
            <article class="content px-4">
                @Body
            </article>
            @*@Body*@
        </LayoutContent>
    </Layout>
</Layout>